@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#root {
  min-height: 100vh;
  display: flex;
}

@layer components {
  .recent-entry {
    @apply flex items-center gap-2 p-2 pr-10 rounded-[30px] cursor-pointer hover:bg-[#e2e6eb];
  }
  .bottom-item {
    @apply pr-2 cursor-pointer;
  }
}
