@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Outfit", sans-serif;
}

#root {
  min-height: 100vh;
  display: flex;
}

@layer components {
  .recent-entry {
    @apply flex items-center gap-2 p-2 pr-10 rounded-[30px] cursor-pointer hover:bg-[#e2e6eb];
  }
  .bottom-item {
    @apply pr-2 cursor-pointer;
  }
}

.text-gradient {
  background: -webkit-linear-gradient(16deg, #4b90ff, #ff5546);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.card {
  height: 200px;
  padding: 14px;
  background-color: #f0f4f9;
  border-radius: 10px;
  position: relative;
  cursor: pointer;
}

.card:hover {
  background-color: #dfe4ea;
}

.card-image {
  width: 35px;
  padding: 5px;
  position: absolute;
  background-color: white;
  border-radius: 20px;
  bottom: 10px;
  right: 10px;
}
